
#main_wrapper{
    display: grid;
    width: 100%;
    margin: 0 auto;
}

header,main {
    width: auto;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color:white;
    font-size: 1.1em;
    line-height: 1.5;

}

#header {
    height:370px;
    text-align: center;
    background-image: url("../img/background.jpg");
    /*This image is free from this website https://www.pexels.com/ */
    background-repeat: no-repeat;
    background-size:100%;
    padding-bottom: 2em;
}

footer {
   padding-top: 3em;
}

header h1 {
    padding-top: 100px;
    padding-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px black;
}

h1~h3 {
    margin-left: 10em;
    margin-right: 10em;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: initial;
    margin-left: 15em;
}

p,article {
    font-family: 'Open Sans Condensed', sans-serif;
}

.form-button {
    padding: 0;
    border: none;
    background: none;
}

.button {
    display: inline-block;
    width: 250px;
    background: #333;
    color: white;
    padding: .5em 0;
    border: 1px solid #666;
    margin: 0;
    text-decoration: none;
}

.button:hover {
    background: white;
    color: #333;
}

a:hover {
    background-color:darkslategrey;
}

#flex-menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width:100%;
    background-color: black;
    position: fixed;
   margin: 0;
}

#flex-menu ul li{
    width: content-box;
    height: min-content;
    margin: auto;
}

#flex-menu  ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#application-form {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

#form-elements {
    background-image: url("../img/background2.jpg");
    /*This image is free from this website https://www.pexels.com/ */
    background-size: 100%;
    color: #333;
    padding: 2em;
}

#wrapper1{
    width: 450px;
    border: 2px solid black;
    margin: 0 auto;
}

#wrapper2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid 3px black;
    font-size: initial;
    text-align: initial;
    background-color: lightgrey;
    color: black;
    margin: 0 auto;
    row-gap: 5px;
    column-gap: 5px;
    width: 600px;
}

fieldset {
    display: grid;
    border: solid 1px black;
    box-shadow: 3px 3px 5px #2f2626;
    font-size: initial;
    background-color: lightgrey;
    color: black;
    text-align: initial;
    margin-right: 2px;
    margin-left: 2px;
    row-gap: 5px;
    column-gap: 5px;
}

legend{
    grid-column-start: span 2;
}

.col3 {
    grid-column: 1/span 2;
}

.col1 {
    text-align: right;
}

input:required, input[required] {
    border: 2px dotted red;
}
input:valid {
    border: 1px solid black;
}

#html5-videos ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
#html5-videos li {
    width: 31%;
    margin-bottom: 1em;
    background: #fff;
    color:black;
}

#html5-videos {
    padding: 2em 1em 1em;

}

video {
    height: 225px;
    width: 100%;
}

.hobby-text {
    padding-top: 100px;
}

.card-text {
    text-align: left;
    padding: 0.5em;
}

iframe {
    height: 315px;
    width: 560px;
    margin:80px ;
}

article {
    align-self: center;
    width:800px;
    font-size: larger;
    color: black;
}

#video-tutorial {
    padding-bottom: 2em;
}

#video_card {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0 -5px;
   justify-content: center;
    border-radius: 300px;
    background-color: white;
}

#mapping {
    border-bottom: 5px solid black;
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

p {
    margin: 0;
    padding: 1em 0;
}

select {
    width: 84%;
}
.col4 {
    margin-left: 75px;
}

.col5{
    margin-right: 50px;
}

input {
    border: 0 solid black;
}

@media screen and (min-device-width: 600px) {
    main{
        display: grid;
    }

}




